$primary: #6DD4E7;
//$primary: #6BB387;
//$primary: #27DC94;
//$primary: #57C4D8;
$primary-accent: #6DD4E7;
$secondary: #f8f8f6;
$accent: #F89070;
$secondary-dark: darken($secondary, 10);
$secondary-darkest: #AAB7C0;
$midnight: #333;
