@mixin primary-font($size, $color) {
  //font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-size: $size;
  color: $color;
}

@mixin secondary-font($size, $color) {
  font-family: 'Roboto', serif;
  font-size: $size;
  color: $color;
}
