@import "compass/reset",
"compass/css3/flexbox",
"colors.scss",
"fonts.scss",
"nav.scss",
"home.scss",
"order-general.scss",
"locations-view.scss",
"order-status-bar.scss",
"selected-toppings-bar.scss";
body {
  width: 100%;
  height: 100%;
  background-color: $secondary;
}
