.navbar {
  @include display-flex;
  @include align-items(center);
  @include justify-content(space-between);
  width: 100%;
  height: 70px;
  background-color: white;
  //@include primary-font(24px, $midnight);
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
  border-bottom: 1px solid $secondary-dark;
}

.nav-logo {
  padding-left: 20px;
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
  font-family: 'Roboto', serif;
  padding-left: 20px;
  text-align: center;
}

.nav-account {
  padding-right: 20px;
  font-size: 18px
}
