.order-status-bar-container {
  @include secondary-font(16px, $midnight);
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);
  width: 100%;
  //margin-top: 35px;
}

.order-status-bar {
  @include display-flex;
  @include justify-content(flex-start);
  @include align-items(center);
  @include flex-direction(row);
  width: 100%;
  //margin-top: 35px;
  //margin-bottom: 10px;
}

.order-status-bar-tab {
  height: 50px;
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(row);
  width: 20%;
  color: white;
  //height: 32px;
  background-color: $accent;
}

.order-status-active {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(row);
  border-bottom: 2px solid $accent;
  width: 20%;
  height: 50px;
  border-right: 1px solid $secondary;
  background-color: white;
  color: $midnight;

  img {
    width: 15px;
  }
}

.order-status-inactive {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(row);
  width: 20%;
  height: 50px;

  background-color: lighten($secondary-dark, 5%);
  border-right: 2px solid white;
//  margin: 0 0px;
  // -webkit-transform: skew(-30deg);
	//    -moz-transform: skew(-30deg);
	//      -o-transform: skew(-30deg);
}
