.primary-line {
  height: 3px;
  width: 20%;
  background-color: $accent;
  margin-bottom: 25px;
}

@mixin remove-icon($size) {
  @include display-flex(flex);
  @include justify-content(center);
  @include align-items(center);
  @include primary-font($size/4, white);
  height: $size;
  width: $size;
  background-color: $accent;
  border-radius: $size/2;
  cursor: pointer;

  &:hover {
    background-color: lighten($accent, 5);
  }
}

.order-selection-container {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);
}

.order-selection-title {
  @include primary-font(45px, $midnight);
  padding: 35px 0 25px 0;
  font-weight: lighter;
}

.order-selection-card-container {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(row);
  @include flex-wrap(wrap);
}

.order-selection-card {
  @include primary-font(16px, $midnight);
  padding: 10px;
  margin: 20px;

  &:hover {
    cursor: pointer;
    .order-selection-card-bottom {
      background-color: lighten($primary, 5);
    }
  }
}

// .order-selection-card {
//   height: 100px;
//   width: 200px;
// }

.order-selection-card-top {
  height: 150px;
  width: 250px;
}

.order-selection-card-bottom {
  @include display-flex;
  @include justify-content(space-around);
  @include align-items(center);
  font-weight: lighter;
  min-height: 40px;
  width: 250px;
  color: white;
  background-color: $primary;
  border-radius: 0 0 10px 10px;
}
