.order-status-bar-container {
  @include secondary-font(12px, $midnight);
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);
  width: 100%;
  //margin-top: 35px;
}

.order-status-bar {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(row);
  width: 100%;
  //margin-top: 35px;
  margin-bottom: 10px;
}

.order-status-bar-circle {
  @include remove-icon(50px);
}

.order-status-active {
  padding: 15px 0;
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(row);
  width: 20%;
  //height: 32px;

  background-color: $secondary-dark;
  border-right: 2px solid white;
//  margin: 0 0px;
  // -webkit-transform: skew(-30deg);
	//    -moz-transform: skew(-30deg);
	//      -o-transform: skew(-30deg);
}

.order-status-inactive {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(row);
  width: 20%;
  height: 32px;

  background-color: $secondary;
  border-right: 2px solid white;
//  margin: 0 0px;
  // -webkit-transform: skew(-30deg);
	//    -moz-transform: skew(-30deg);
	//      -o-transform: skew(-30deg);
}
