.selected-toppings-container {
  width: 100%;
  background-color: $primary;
  margin-top: 40px;
  overflow-x: scroll;
  white-space: nowrap;
}

.selected-toppings-card {
  border-radius: 15px;
  padding: 10px;
  @include primary-font(14px, $midnight);
  width: 200px;
  height: 90px;
  background-color: white;
  margin: 20px 10px;
  display: inline-block;
}
