/* line 5, ../../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/nav.scss */
.navbar {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
  border-bottom: 1px solid #e2e2d9;
}

/* line 14, ../sass/nav.scss */
.nav-logo {
  padding-left: 20px;
}

/* line 18, ../sass/nav.scss */
.nav-title {
  font-weight: 700;
  font-size: 24px;
  font-family: 'Roboto', serif;
  padding-left: 20px;
  text-align: center;
}

/* line 26, ../sass/nav.scss */
.nav-account {
  padding-right: 20px;
  font-size: 18px;
}

/* line 1, ../sass/home.scss */
.home-landing {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background: url("./../assets/images/oats.jpg");
  background-size: cover;
}

/* line 11, ../sass/home.scss */
.home-order-nav {
  width: 100%;
  height: 70px;
  background-color: #6DD4E7;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

/* line 20, ../sass/home.scss */
.home-start-order-button {
  margin-right: 10px;
  width: 150px;
  padding: 10px 0;
  background-color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #333;
  text-align: center;
}
/* line 27, ../sass/home.scss */
.home-start-order-button:hover {
  cursor: pointer;
}

/* line 1, ../sass/order-general.scss */
.primary-line {
  height: 3px;
  width: 20%;
  background-color: #F89070;
  margin-bottom: 25px;
}

/* line 24, ../sass/order-general.scss */
.order-selection-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 31, ../sass/order-general.scss */
.order-selection-title {
  font-family: 'Roboto Slab', serif;
  font-size: 45px;
  color: #333;
  padding: 35px 0 25px 0;
  font-weight: lighter;
}

/* line 37, ../sass/order-general.scss */
.order-selection-card-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 45, ../sass/order-general.scss */
.order-selection-card {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #333;
  padding: 10px;
  margin: 20px;
}
/* line 50, ../sass/order-general.scss */
.order-selection-card:hover {
  cursor: pointer;
}
/* line 52, ../sass/order-general.scss */
.order-selection-card:hover .order-selection-card-bottom {
  background-color: #83daeb;
}

/* line 63, ../sass/order-general.scss */
.order-selection-card-top {
  height: 150px;
  width: 250px;
}

/* line 68, ../sass/order-general.scss */
.order-selection-card-bottom {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  font-weight: lighter;
  min-height: 40px;
  width: 250px;
  color: white;
  background-color: #6DD4E7;
  border-radius: 0 0 10px 10px;
}

/* line 1, ../sass/locations-view.scss */
.location-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 8, ../sass/locations-view.scss */
.location-title {
  font-family: 'Roboto Slab', serif;
  font-size: 45px;
  color: #333;
  padding: 35px 0 25px 0;
}

/* line 13, ../sass/locations-view.scss */
.location-card {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #333;
  width: 50%;
  background-color: white;
  height: 150px;
  margin: 15px 0;
  cursor: pointer;
}
/* line 24, ../sass/locations-view.scss */
.location-card:hover {
  color: #6DD4E7;
}

/* line 29, ../sass/locations-view.scss */
.location-card-left {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-left: 10px;
  width: 70%;
}
/* line 37, ../sass/locations-view.scss */
.location-card-left span {
  font-style: italic;
  color: #e2e2d9;
  font-weight: normal;
  font-size: 16px;
  padding-top: 10px;
}

/* line 46, ../sass/locations-view.scss */
.location-card-right {
  width: 30%;
  background: url("http://img-aws.ehowcdn.com/560x350p/photos.demandstudios.com/getty/article/142/59/78455950.jpg");
  background-size: cover;
  color: white;
  font: 100px;
}

/* line 1, ../sass/order-status-bar.scss */
.order-status-bar-container {
  font-family: 'Roboto', serif;
  font-size: 12px;
  color: #333;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

/* line 11, ../sass/order-status-bar.scss */
.order-status-bar {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
}

/* line 21, ../sass/order-status-bar.scss */
.order-status-bar-circle {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-size: 12.5px;
  color: white;
  height: 50px;
  width: 50px;
  background-color: #F89070;
  border-radius: 25px;
  cursor: pointer;
}
/* line 19, ../sass/order-general.scss */
.order-status-bar-circle:hover {
  background-color: #f9a388;
}

/* line 25, ../sass/order-status-bar.scss */
.order-status-active {
  padding: 15px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 20%;
  background-color: #e2e2d9;
  border-right: 2px solid white;
}

/* line 42, ../sass/order-status-bar.scss */
.order-status-inactive {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 20%;
  height: 32px;
  background-color: #f8f8f6;
  border-right: 2px solid white;
}

/* line 1, ../sass/selected-toppings-bar.scss */
.selected-toppings-container {
  width: 100%;
  background-color: #e2e2d9;
  margin-top: 40px;
  overflow-x: scroll;
  white-space: nowrap;
  float: left;
}

/* line 10, ../sass/selected-toppings-bar.scss */
.selected-toppings-remove {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-size: 6.25px;
  color: white;
  height: 25px;
  width: 25px;
  background-color: #F89070;
  border-radius: 12.5px;
  cursor: pointer;
  float: right;
}
/* line 19, ../sass/order-general.scss */
.selected-toppings-remove:hover {
  background-color: #f9a388;
}

/* line 15, ../sass/selected-toppings-bar.scss */
.selected-toppings-card {
  border-radius: 15px;
  padding: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  color: #333;
  width: 200px;
  height: 90px;
  background-color: white;
  margin: 20px 10px;
  display: inline-block;
}

/* line 26, ../sass/selected-toppings-bar.scss */
.sticky {
  position: fixed;
  top: 0;
  margin-top: 0;
}

/* line 11, ../sass/main.scss */
body {
  width: 100%;
  height: 100%;
  background-color: #f8f8f6;
}
